<!doctype html>
<html>
  <head>
    <script src="jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="stylesheet.css" type="text/css">
    <script src="svg-pan-zoom.js"></script>
  </head>

  <body>

    <div id="viz-container">
      <svg id="viz" xmlns="http://www.w3.org/2000/svg"></svg>
    </div>

    <div id="sidebar">
    </div>

    <script src="k8s-viz.js"></script>
   </body>
</html>
